/*global css*/

.deleteBtn{
	color: #fff !important;
	background-color:red !important;
}

.primaryBtn{
	color: #fff !important;
	background-color: #428BCA !important;
	border: 1px solid #357EBD !important;
}

.defaultBtn{
	color: #428BCA !important;
	background-color: #fff !important;
}

.defaultEditBtn{
	color: #fff !important;
	background-color:red !important;
	border: 1px solid red;
}

.km-flat .km-scroller-pull {
  background: #1a237e !important;
}
.km-flat .km-state-active {
  background-color: #1a237e;
}
.km-flat .km-button {
  background-color: green;
  color: #ffffff;
}
.km-flat .km-view .km-navbar {
  background-color: green;
  color: #ffffff;
}
.km-flat .km-view .km-navbar .km-view-title > * {
  color: #ffffff;
}
.km-flat .km-view .km-navbar .km-button {
  border: none;
  background-color: green;
  color: #ffffff;
}
.km-flat .km-view .km-navbar .km-button:hover {
  background-color: #1a237e;
  color: #ffffff;
}
.km-flat .km-view .km-navbar .km-button .km-text {
  color: #ffffff;
}
.km-flat .km-view .km-navbar .km-button.km-state-active {
  background-color: #1a237e;
  color: #ffffff;
}
.km-flat .km-view .km-content {
  background-color: green;
  background: url('/images/datanibg.png');
  color: #4c5356;
}
.km-flat .km-view .km-content .km-list > li {
  background-color: #ffffff;
}
.km-flat .km-view .km-content .km-list > li .km-state-active {
  background-color: #1a237e;
}
.km-flat .km-view .km-content .km-list > li:first-child {
  border-top-width: 1px;
}
.km-flat .km-view .km-content .km-list > li:last-child {
  border-bottom-width: 1px;
}
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container {
  background-color: green;
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
  background-color: #1a237e;
  color: #fff;
}
.km-flat .km-view .km-content .km-list .km-state-active:after {
  color: #fff;
}
.km-flat .km-view .km-content .km-scrollview {
  background-color: #fff;
}
.km-flat .km-view .km-content .km-button {
  background-color: green;
}
.km-flat .km-view .km-content .km-button.km-state-active {
  background-color: #1a237e;
  color: #ffffff;
}
.km-flat .km-view .km-content .km-listgroup .km-group-title {
  color: #e5e5e5;
}
.km-flat .km-view .km-content .km-listgroup .km-group-title .km-text {
  color: #999;
}
.km-flat .km-view .km-content .km-switch .km-switch-container {
  color: #ffffff;
}
.km-flat .km-view .km-content .km-switch .km-switch-container .km-switch-handle {
  color: #ffffff;
}
.km-flat .km-view .km-content .km-switch .km-switch-container .km-switch-label-on {
  background-color: green;
}
.km-flat .km-view .km-tabstrip .km-button {
  background-color: green;
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
  background-color: #1a237e;
}
.km-flat .km-drawer {
  background-color: #ffffff;
}
.km-flat .km-drawer .km-navbar {
  background-color: #ffffff;
  color: #4c5356;
}
.km-flat .km-drawer .km-navbar .km-view-title > * {
  color: #4c5356;
}
.km-flat .km-actionsheet > li {
  border-color: green;
  border-style: solid;
  border-width: 0 0px 1px 0px;
}
.km-flat .km-actionsheet > li > a {
  background-color: #ffffff;
  color: #4c5356;
}
.km-flat .km-actionsheet > li > a:hover {
  background-color: #c5cae9;
}
.km-flat .km-loader.km-widget::before {
  background: #1a237e;
}
.km-flat .km-switch-handle {
  background-color: #ffffff;
}
.km-flat .k-slider-selection {
  background-color: #ffffff;
}
.km-flat .km-switch-background {
  background-color: green;
}
.km-flat .km-touch-scrollbar {
  background-color: green;
}
.km-flat .km-pages .km-current-page {
  background-color: green;
}
.km-widgets:after,
.km-widgets:before {
  content: "\e0c5";
}
.km-hamburger:after,
.km-hamburger:before {
  content: "\E077";
}

.km-back:after,
.km-back:before
 {
        content: "\e013";
 }

 
/* iconmoon */  

@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-egp3ae');
	src:url('/fonts/icomoon.eot?#iefix-egp3ae') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?-egp3ae') format('truetype'),
		url('/fonts/icomoon.woff?-egp3ae') format('woff'),
		url('/fonts/icomoon.svg?-egp3ae#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cow-black:before {
	content: "\e60d";
}
.icon-sheep-black:before {
	content: "\e60e";
}
.icon-bull-black:before {
	content: "\e60f";
}
.icon-info:before {
	content: "\e60a";
}
.icon-pig:before {
	content: "\e60b";
}
.icon-chicken-black:before {
	content: "\e60c";
}
.icon-carrot:before {
	content: "\e600";
}
.icon-chicken:before {
	content: "\e601";
}
.icon-cow:before {
	content: "\e602";
}
.icon-market:before {
	content: "\e603";
}
.icon-sheep:before {
	content: "\e604";
}
.icon-fish:before {
	content: "\e605";
}
.icon-goat:before {
	content: "\e606";
}
.icon-human:before {
	content: "\e607";
}
.icon-plant:before {
	content: "\e608";
}
.icon-marketing:before {
	content: "\e609";
}
